<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Salão Kamila Sames
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agendamento</ion-title>
    </ion-toolbar>
  </ion-header>

  <form>
    <ion-list>
      <ion-list-header>
        <ion-label>Dados do Cliente</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-input label="Nome Completo" placeholder="Seu nome completo" 
                  [clearInput]="true" aria-label="Nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Email" type="email" placeholder="seu@email.com" 
                  helperText="Para confirmação" errorText="Email inválido"
                  [clearOnEdit]="true" fill="solid"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Senha" type="password" placeholder="Crie uma senha"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Telefone" type="tel" placeholder="(00) 00000-0000" 
                  [counter]="true" maxlength="15"></ion-input>
      </ion-item>



      <ion-item>
        <ion-input label="CPF" placeholder="000.000.000-00"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input labelPlacement="floating" value="cliente@salao.com">
          <div slot="label">Email <ion-text color="danger">(Obrigatório)</ion-text></div>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Cartão Fidelidade" placeholder="0000 0000 0000 0000"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>Serviços Desejados</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-input label="Corte" placeholder="Tipo de corte" labelPlacement="stacked"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Coloração" placeholder="Descrição" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Tratamento" placeholder="Especificar" fill="outline"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Observações" placeholder="Alergias etc" labelPlacement="fixed"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Produtos" placeholder="Seus produtos">
          <ion-icon slot="start" name="pricetag-outline"></ion-icon>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>Preferências</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-input label="Profissional" placeholder="Nome preferido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Data/Horário" type="datetime-local"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Pagamento" placeholder="Forma de pagamento">
          <ion-icon slot="start" name="card-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Cupom" color="success" placeholder="Digite cupom"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>Avaliação</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-range label="Atendimento" [pin]="true" [ticks]="true" [snaps]="true" [min]="0" [max]="10"></ion-range>
      </ion-item>

      <ion-item>
        <ion-range label="Resultado" [pin]="true" labelPlacement="end"></ion-range>
      </ion-item>

      <ion-item>
        <ion-range label="Ambiente" [pin]="true">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          <ion-icon slot="end" name="sparkles-outline"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-range labelPlacement="stacked" [pin]="true">
          <div slot="label">Satisfação <ion-text color="primary">(0-100)</ion-text></div>
        </ion-range>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>Confirmação</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-input label="Termos" type="checkbox" placeholder="Aceito os termos"></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-input label="Código" labelPlacement="floating" fill="outline" placeholder="Promocional"></ion-input>
      
      <ion-input
        label="Notificações"
        type="email"
        fill="solid"
        labelPlacement="floating"
        helperText="Receba lembretes"
        placeholder="Email alternativo"
        class="ion-margin-top"
      ></ion-input>

      <ion-input
        label="Comentário"
        [counter]="true"
        maxlength="200"
        placeholder="Deixe seu feedback"
        class="ion-margin-top"
      ></ion-input>
    </div>

    <ion-button expand="block" type="submit" color="danger" class="ion-margin">
      Confirmar Agendamento
    </ion-button>

    <ion-button expand="block" fill="outline" color="medium" class="ion-margin">
      Limpar Formulário
    </ion-button>
  </form>
</ion-content>
